# SITE #################
# BCOnline
#{bconline_schedule} /apps_ux/sis/admin/bconline.sh 2>&1 | /apps_ux/oraapp/bin/mailtee.ksh /apps_ux/sis/logs/bconline.sh.log sitelogs@Victoria1.gov.bc.ca bconline.sh true

# LTO/LTSA 
#{lto_1_schedule} /apps_ux/sis/admin/lto_1.sh 2>&1    | /apps_ux/oraapp/bin/mailtee.ksh /apps_ux/sis/logs/lto_1.sh.log sitelogs@Victoria1.gov.bc.ca lto_1.sh true
#{lto_load_1_schedule} /apps_ux/sis/admin/lto_load.sh 2>&1 | /apps_ux/oraapp/bin/mailtee.ksh /apps_ux/sis/logs/lto_load.sh.log sitelogs@Victoria1.gov.bc.ca lto_load.sh true
#{lto_2_schedule} /apps_ux/sis/admin/lto_2.sh 2>&1    | /apps_ux/oraapp/bin/mailtee.ksh /apps_ux/sis/logs/lto_2.sh.log sitelogs@Victoria1.gov.bc.ca lto_2.sh true
#{lto_load_2_schedule} /apps_ux/sis/admin/lto_load.sh 2>&1 | /apps_ux/oraapp/bin/mailtee.ksh /apps_ux/sis/logs/lto_load.sh.log sitelogs@Victoria1.gov.bc.ca lto_load.sh true


