.folio-details-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.folio-details-default {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.folio-actions {
  display: flex;
  flex-direction: row;
}

.folio-actions-gap {
  gap: 8px;
}

.folio-description {
  display: flex;
  gap: 8px;

  align-items: center;
}

.folio-contents-gap {
  gap: var(--layout-margin-medium);
  display: flex;
  flex-direction: column;
}

.folio-content-actions {
  display: flex;
  gap: var(--layout-margin-small);
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.folio-content-actions-btn {
  /* width: 212px; */
  align-items: center;
  display: flex;
  height: 40px;
  padding: var(--layout-padding-small) var(--layout-padding-medium)
    var(--layout-padding-small) var(--layout-padding-medium);
  border-radius: var(--layout-border-Radius-medium);
  gap: var(--layout-margin-small);
  border: 1px solid;
  border-color: var(--surface-border-dark);
  font-family: 'BCSans';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 576px) {
  .folio-content-actions-btn {
    width: 100% !important;
  }

  .folio-actions {
    display: flex;
    flex-direction: column;
  }
}
