.SITE-Button {
  border: none;
  border-radius: var(--layout-border-radius-medium);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: var(--layout-padding-small);
  font: var(--typography-regular-body);
  padding-left: var(--layout-padding-medium);
  padding-right: var(--layout-padding-medium);
}

.SITE-Button:disabled {
  cursor: not-allowed;
}
.SITE-Button:focus:not(:focus-visible) {
  outline: solid var(--layout-border-width-medium)
    var(--surface-color-border-active);
}

/* Sizes */
.SITE-Button.small {
  min-height: 24px;
  /* font rule below is equivalent to --typography-regular-label variable in BC Design Tokens library v3.1.0
   We are on v2.1.0 and this variable has a different font size and line height */
  font: 400 0.75rem/1.125rem 'BC Sans';
  padding-left: var(--layout-padding-small);
  padding-right: var(--layout-padding-small);
}
.SITE-Button.medium {
  min-height: 40px;
}

.SITE-Button.large {
  min-height: 64px;
}

/* Variant - Primary */
.SITE-Button.primary {
  background: var(--surface-color-primary-default);
  border: 1px solid var(--surface-color-primary-default);
  color: var(--typography-color-primary-invert);
}
.SITE-Button.primary:disabled {
  background-color: var(--surface-color-primary-disabled);
  color: var(--typography-color-disabled);
  border-color: var(--surface-color-primary-disabled);
}
.SITE-Button.primary:hover:not(:disabled) {
  background-color: var(--surface-color-primary-hover);
}
.SITE-Button.primary:focus {
  background-color: var(--surface-color-primary-hover);
}

/* Variant - Secondary */
.SITE-Button.secondary {
  background-color: var(--surface-color-secondary-default);
  border: 1px solid var(--surface-color-border-dark);
  color: var(--typography-color-primary);
}
.SITE-Button.secondary:disabled {
  background-color: var(--surface-color-secondary-disabled);
  border-color: var(--surface-color-secondary-disabled);
  color: var(--typography-color-disabled);
}
.SITE-Button.secondary:hover:not(:disabled) {
  background-color: var(--surface-color-secondary-hover);
}

/* Variant - Tertiary */
.SITE-Button.tertiary {
  background-color: var(--surface-color-tertiary-button-default);
  color: var(--typography-color-primary);
}
.SITE-Button.tertiary:disabled {
  background-color: var(--surface-color-tertiary-default);
  color: var(--typography-color-disabled);
}
.SITE-Button.tertiary:hover:not(:disabled) {
  background-color: var(--surface-color-tertiary-hover);
}

.SITE-Button.btn-icon {
  background: transparent;
  border: 1px solid transparent;
  color: var(--surface-color-primary-default);
}
.SITE-Button.btn-icon:hover:not(:disabled) {
  background-color: var(--theme-blue-20);
}
.SITE-Button.btn-icon:focus {
  background-color: var(--theme-blue-20);
  border: 1px solid var(--surface-color-border-active);
}
.SITE-Button.btn-icon.btn-active {
  background: var(--surface-color-primary-default);
  color: var(--typography-color-primary-invert);
}
.SITE-Button.btn-icon.btn-active:hover {
  background: var(--surface-color-primary-default);
}

/* Intent - Danger */
.SITE-Button.primary.danger {
  background-color: var(--surface-color-primary-danger-button-default);
  border-color: var(--surface-color-primary-danger-button-default);
  color: var(--typography-color-primary-invert);
}
.SITE-Button.primary.danger:disabled {
  background-color: var(--surface-color-primary-danger-button-disabled);
  border-color: var(--surface-color-primary-danger-button-disabled);
  color: var(--typography-color-disabled);
}
.SITE-Button.primary.danger:hover:not(:disabled),
.SITE-Button.primary.danger:focus {
  background-color: var(--surface-color-primary-danger-button-hover);
  border-color: var(--surface-color-primary-danger-button-hover);
}

.SITE-Button.secondary.danger {
  border-color: var(--support-border-color-danger);
  color: var(--typography-color-danger);
}
.SITE-Button.secondary.danger:hover:not(:disabled) {
  background-color: var(--support-surface-color-danger);
}

.SITE-Button.tertiary.danger {
  color: var(--typography-color-danger);
}
.SITE-Button.tertiary.danger:hover:not(:disabled) {
  background-color: var(--support-surface-color-danger);
}

/* Intent - Success */
.SITE-Button.primary.success {
  background-color: var(--support-border-color-success);
  border-color: var(--support-border-color-success);
  color: var(--typography-color-primary-invert);
}
.SITE-Button.primary.success:disabled {
  background-color: var(--surface-color-primary-disabled);
  border-color: var(--surface-color-primary-disabled);
  color: var(--typography-color-disabled);
}
.SITE-Button.primary.success:hover:not(:disabled),
.SITE-Button.primary.success:focus {
  background-color: #35673c; /* ~20% darker than --support-border-color-success (#42814A) */
  border-color: #35673c;
}

.SITE-Button.secondary.success {
  border-color: var(--support-border-color-success);
  color: var(--icons-color-success);
}
.SITE-Button.secondary.success:hover:not(:disabled) {
  background-color: var(--support-surface-color-success);
}

.SITE-Button.tertiary.success {
  color: var(--icons-color-success);
}
.SITE-Button.tertiary.success:hover:not(:disabled) {
  background-color: var(--support-surface-color-success);
}
