NODE_ENV=development

# Database Integration
POSTGRESQL_HOST=site-database
# Uncomment this line if you want to run the backend locally without docker
# POSTGRESQL_HOST=127.0.0.1

# You can set these to whatever, docker will create the database with these settings.
POSTGRESQL_PORT=5432
POSTGRES_ADMIN_USERNAME=postgres
# Docker will create the database with this password when it starts up.
POSTGRES_ADMIN_PASSWORD=secret
POSTGRES_DB_USERNAME=site_service_user
# When the non-admin user is created during initialization this is the password that will be set for it.
POSTGRES_DB_PASSWORD=secret
POSTGRES_DATABASE=site_service_db
POSTGRES_DB_SCHEMA=sites

# Keycloak integration
# Ask for this one.
KEYCLOCK_AUTH_URL=<secret>
KEYCLOCK_CLIENT_ID=site-service
KEYCLOCK_REALM=forms-flow-ai
# Ask for this one.
KEYCLOCK_SECRET=<very_secret>

# Logs
LOG_FILE_LOCATION=./LOGs/sites-%DATE%.LOG
LOG_FILE_MAX_SIZE=25m
LOG_FILE_MAX_FILES=7d

# The rest of these need to be present so the app doesn't crash, but can be left as dummy values for local dev
# BCBox integration
VITE_S3_STORAGE_ACCESS_KEY_ID=123
VITE_S3_STORAGE_SECRET_ACCESS_KEY=asdf
VITE_S3_STORAGE_REGION=asdf
VITE_S3_STORAGE_BUCKET=adsf
VITE_S3_STORAGE_ENDPOINT=asdf
VITE_COMS_API=sfd
VITE_COMS_BUCKET=adsf

# LTSA integration
CSV_SECRET=asdf
ESRA_S3_ENDPOINT=asdf
ESRA_S3_ACCESS_KEY=asdf
ESRA_S3_SECRET_KEY=asdf
ESRA_S3_BUCKET=asdf
ESRA_S3_BUCKET_ENV=asdf
S3_ENDPOINT=asdf
