###############################################################################
#  This file is a sample file, for Docker compose to work with the settings   #
#  rename this file to .env                                                   #
#  Specify the variables with the required values                             #
###############################################################################

# Database Integration
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5432
POSTGRES_ADMIN_USERNAME=
POSTGRES_ADMIN_PASSWORD=
POSTGRES_DB_USERNAME=epdsites
POSTGRES_DB_PASSWORD=
POSTGRES_DATABASE=site_dev
POSTGRES_DB_SCHEMA=sites

# Keycloak integration
KEYCLOCK_AUTH_URL=
KEYCLOCK_CLIENT_ID=site-service
KEYCLOCK_REALM=
KEYCLOCK_SECRET=

# Logs
LOG_FILE_LOCATION=./LOGs/sites-%DATE%.LOG
LOG_FILE_MAX_SIZE=25m
LOG_FILE_MAX_FILES=7d

# BCBox integration
VITE_S3_STORAGE_ACCESS_KEY_ID=
VITE_S3_STORAGE_SECRET_ACCESS_KEY=
VITE_S3_STORAGE_REGION=
VITE_S3_STORAGE_BUCKET=
VITE_S3_STORAGE_ENDPOINT=
VITE_COMS_API=
VITE_COMS_BUCKET=

# LTSA integration
CSV_SECRET=
ESRA_S3_ENDPOINT=
ESRA_S3_ACCESS_KEY=
ESRA_S3_SECRET_KEY=
ESRA_S3_BUCKET=
ESRA_S3_BUCKET_ENV=
S3_ENDPOINT=
