.approve-reject-container {
  display: flex;
  gap: var(--layout-margin-medium);
  flex-direction: column;
}

.ar-continer-header {
  display: flex;
  gap: var(--layout-margin-xxlarge);
  /* flex-direction: column; */
  justify-content: space-between;
}

.caret-icons {
  font-size: 24px;
}

.ar-continer-header-left {
  display: flex;
  gap: var(--layout-margin-medium);
}

.header-label {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: var(--typography-color-primary, #2d2d2d);
}

.approve-reject-actions {
  display: flex;
  justify-content: space-between;
}
