.data-layers-menu-trigger.secondary {
  border: 1px solid var(--surface-color-primary-default);
  color: var(--typography-color-link);
}

.data-layers-checkbox {
  transform: scale(1.15);
  border: 1px solid var(--icons-color-secondary);
}

.data-layers-checkbox:checked {
  background-color: var(--icons-color-secondary);
}
