## BCEID user 
## Feel free to ask Adam for account, has created a basic BCeID user we can use for e2e testing.
BCEID_USERNAME=
BCEID_PASSWORD=

# Do not include trailing slash
BASE_URL=https://nr-site-registry-test-frontend.apps.silver.devops.gov.bc.ca