.custom-disclosure-widget-lbl {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: var(--typography-color-primary, #2d2d2d);
  margin-bottom: 0;
}

.custom-disclosure-lbl-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 21.01px;
  text-align: left;
  color: var(--typography-color-secondary, #474543);
}

.custom-disclosure-input-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 27.01px;
  text-align: left;
  color: var(--typography-color-primary, #2d2d2d);
}

.custom-disclosure-input-text-tbl {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: var(--typography-color-primary, #2d2d2d);
}

.custom-disclosure-edit-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 21.01px;
  text-align: left;
  color: var(--typography-color-secondary, #474543);
}

.custom-disclosure-edit-input {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  text-align: left;
  color: var(--typography-color-secondary, #474543);
}

.custom-disclosure-edit-input
  .rs-input-group.rs-input-group-inside
  .rs-input-group-addon {
  top: 0;
  background: none;
  border: none;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.custom-disclosure-edit-input .rs-input {
  padding: 10px 11px !important;
}

.disclosure-fa-spin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.disclosure-loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050; /* Ensure it appears above other content */
}

.disclosure-spinner-container {
  text-align: center;
}

.custom-disclosure-search-placeholder {
  color: var(--typography-color-disabled) !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  text-align: left !important;
}

.custom-disclosure-search-placeholder:hover {
  color: var(--typography-color-disabled) !important;
}

.custom-disclosure-boarder {
  padding: var(--layout-padding-small) 0px var(--layout-padding-small) 0px;
  border-top: 1px solid var(--surface-border-light, #d8d8d8);
}
