.custom-associate-widget-lbl {
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 40px !important;
  text-align: left;
  color: var(--typography-color-primary, #2d2d2d) !important;
  margin-bottom: 0;
}

.custom-associate-lbl-text {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  text-align: left;
  color: var(--typography-color-secondary, #474543) !important;
}

.custom-associate-input-text {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  text-align: left;
  /* color: var(--typography-color-primary, #2d2d2d) !important; */
}

.custom-associate-edit-label {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  text-align: left;
  color: var(--typography-color-secondary, #474543) !important;
}

.custom-associate-edit-input {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  text-align: left;
  color: var(--typography-color-secondary, #474543) !important;
}

.custom-associate-edit-input
  .rs-input-group.rs-input-group-inside
  .rs-input-group-addon {
  top: 0;
  background: none;
  border: none;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.custom-associate-edit-input .rs-input {
  padding: 6px 8px !important;
}

.custom-associate-edit-input.rs-picker-toggle-wrapper {
  display: inline;
}

.custom-associate-search-placeholder::placeholder {
  color: var(--typography-color-disabled) !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  text-align: left !important;
  transform: translateX(25px) translateY(2px) !important;
}
