.approve-tick-icon {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: var(--icons-color-success, #42814a);
}

.close-tick-icon {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  color: var(--icons-color-danger, #ce3e39);
}
