.site-drawer-info-summary {
  padding: var(--layout-padding-medium) var(--layout-padding-large);
  border: 1px solid var(--support-border-color-info);
  background-color: var(--support-surface-color-info);
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--layout-margin-large);
}

@media screen and (max-width: 576px) {
  .site-drawer-info-summary {
    grid-template-columns: auto;
  }
}

.site-drawer-info-summary > .summary-item {
  display: flex;
  flex-direction: row;
  gap: var(--layout-margin-small);
}

@media screen and (max-width: 768px) {
  .site-drawer-info-summary > .summary-item {
    flex-direction: column;
  }
}
