ORACLE_USER=<<usernamme>>
ORACLE_PASSWORD=<<password>>
ORACLE_CONN_STRING=<<connection string>>
PG_USER=<<usernamme>>
PG_HOST=<<hostname>>
PG_DB=<<database name>>
PG_PASSWORD=<<password>>
PG_PORT=<<port>>
